.FooterContainer{
 margin-top: 2%;
}
.Footer1{
  background: url('/bg-tablet-pattern.svg'), rgba(242, 95, 58, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat; 
  padding: 3rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Footer1 h1{
  /* border: 3px solid; */
  color: white;
  width: 400px;
}
.Footer1 button{
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  color: rgb(242, 95, 58);
  font-weight: bolder;
}
.Footer1 button:hover{
  color: rgba(242, 95, 58, 0.4);
}
.Footer2{
  background-color: rgb(23, 25, 33);
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 3rem 10rem ;
  color: white;
  height: auto;
  border: 3px solid;
}
.LogoandMedia{
  /* border: 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 150px;
}
.Logo{
  /* border: 3px solid; */
  width: 90%;
}
.Media{
  display: flex;
  width: 100%;
  /* border: 3px solid; */
  justify-content: space-between;
  height: 30px;
}
.Media img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.AboutCompany, .Others{
  /* border: 3px solid; */
  width: 10%;
  color: grey;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.AboutCompany p, .Others p{
  cursor: pointer;
}
.AboutCompany p:hover, .Others p:hover{
  color:rgb(242, 95, 58);
}
.Footer3{
  /* border: 3px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.Form{
  /* border: 3px solid; */
  display: flex;
  justify-content: space-between;
}
.FormInput{
  padding: 1rem 1rem;
  border: none;
  border-radius: 20px;
  margin-right: 4%;
  font-size: 18px;
  width: 90%;
}
.error{
  border: 1px solid red;
  color: red;
}
.Form button{
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: rgb(242, 95, 58);
}
.Form button:hover{
  background-color: rgba(236, 108, 77, 0.4);
}
.Error{
  color: red;
  font-style: italic;
  position: relative;
  top: -15%;
  left: 5%;
  font-weight: 200;
}
.Copyright{
  color: grey;
  /* border: 3px solid; */
  width: 85%;
  margin-left: 15%;
}
.Copyright p{
  font-size: 16px;
}
.MobileFooter2{
  display: none
}

@media screen and (max-width: 600px) {
  .Footer1{
    flex-direction: column;
    text-align: center;
  }
  .Footer1 h1{
    width: 250px;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .Footer1 button{
    width: 130px;
  }
  .Footer2{
    display: none;
  }
  .MobileFooter2{
    background-color: rgb(23, 25, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    color: white;
    height: auto;
    /* border: 3px solid; */
  }
  .MobileForm{
    /* border: 3px solid; */
    width: 90%;
    margin-top: 20px;
  }
  .MobileFormInput{
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 4%;
    font-size: 18px;
    width: 75%;
  }
  .error{
    border: 1px solid red;
    color: red;
  }
  .MobileForm button{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: rgb(242, 95, 58);
  }
  .MobileForm button:hover{
    background-color: rgba(236, 108, 77, 0.4);
  }
  .MobileError{
    color: red;
    font-style: italic;
    position: relative;
    top: 5px;
    right: 15%;
    font-weight: 200;
  }
  .MobileLinks{
    display: flex;
    /* border: 3px solid; */
    width: 90%;
    justify-content: space-around;
    margin-top: 3rem;
  }
  .MobileAboutCompany, .MobileOthers{
    /* border: 3px solid; */
    width: 37%;
    color: rgb(250, 244, 244);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .MobileAboutCompany p:hover, .MobileOthers p:hover{
    color:rgb(242, 95, 58);
  }
  .MobileLogoandMedia{
    /* border: 3px solid; */
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .MobileLogo{
    width: 60%;
    margin-top: 2rem;
  }
  .MobileMedia{
    /* border: 3px solid; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .MobileMedia img{
    width: 12%;
  }
  .MobileCopyright{
    color: grey;
    /* border: 3px solid; */
    width: 80%;
    margin: 3rem auto 2rem auto;
    font-size: 16px;
  }

}