.Header{
  /* border: 3px solid; */
  width: 90%;
  margin: auto;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Links{
  display: flex;
  justify-content: space-between;
  width: 40%;
  /* border: 3px solid; */
}
.Links p{
  cursor: pointer;
}
.Links p:hover{
  color: grey;
}
.Header button{
  padding: 7px 20px;
  border-radius: 30px;
  background-color: rgb(242, 95, 58);
  color: white;
  border: none;
}
.Header button:hover{
  background-color: rgba(242, 95, 58, 0.4);
}