.IllustrationContainer{
  /* border: 3px solid; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 5%;
}
.IllustrationWords{
  width: 40%;
  /* border: 3px solid; */
}
.IllustrationWords h1{
  color: rgb(36, 45, 82);
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.IllustrationWords p{
  color: grey;
  width: 80%;
  font-size: 23px;
  margin-bottom: 3rem;
}
.IllustrationWords button{
  padding: 7px 20px;
  border-radius: 30px;
  background-color: rgb(242, 95, 58);
  color: white;
  border: none;
}
.IllustrationWords button:hover{
  background-color: rgba(242, 95, 58, 0.4);
}
.IllustrationImageContainer{
  /* border: 3px solid; */
}

@media screen and (max-width: 600px) {
  .IllustrationContainer{
    flex-direction: column-reverse;
  }
  .Illustration{
    width: 100%;
  }
  .IllustrationWords{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
  .IllustrationWords h1{
    font-size: 40px;
    margin-bottom: 1.5rem;
  }
  .IllustrationWords p{
    width: 100%;
    font-size: 17px;
    margin-bottom: 1.5rem;
    font-weight: 200;
  }
  .IllustrationWords button{
    padding: 15px 30px;
    margin-bottom: 2rem;
  }
}