.IndAdvantagesContainer{
  /* border: 3px solid; */
  margin-bottom: 4%;
}
.ButtonContainer{
  display: flex;
  align-items: center;
}
.identity{
  padding: 5px 25px;
  border-radius: 30px;
  background-color: rgb(242, 95, 58);
  /* font-size: 20px; */
  margin-right: 3rem;
}

.ButtonContainer h1{
  color: rgb(36, 45, 82);
  /* border: 3px solid; */
}

.InformationContainer{
  /* border: 3px solid; */
  margin-left: 17%;
  color: grey;
  font-size: 23px;
  margin-top: 1%;
}

@media screen and (max-width: 900px) {
  .IndAdvantagesContainer{
    margin-bottom: 2rem;
  }
  .ButtonContainer{
    background-color:rgb(255, 239, 235);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    margin-bottom: 15px;
  }
  .identity{
    margin-right: 10px;
    padding: 5px 20px;
    color: white;
    font-weight: 500;
  }
  .ButtonContainer h1{
    font-size: 16px;
    /* border: 3px solid; */
    width: 100%;
  }
  .InformationContainer{
    margin-left: 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 2;
  }
}