*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  background-image: url('/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 120% -150px;
  /* text-align: center; */
  
}
.About{
  background-image: url('/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: -55% 350px;
}